
.projectsSection h2{
    font-weight: 700;
}


.container-projectsSection{
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: -1px -1px 14px -4px rgb(0 0 0 /40%);
}

.container-projectsSection img{
    object-fit: cover;
    object-position: top;

}

.projectsSection-data{
    font-weight: 500;
}


.projectsSection-technologies span{
    font-size: 13px;
    border: 1px solid #191825;
    border-radius: 5px;
    padding: 8px;
    transition: .4s;
    margin: 0 5px 5px 0;
}

