.skillSection h2{
    font-weight: 700;
}

.skillSection .container-skill{
    width: 200px;
    height: 200px;
    background: #ffffff;
    transition: all 300ms;
}

.skillSection .container-skill:hover{
    transform: scale(1.15);
}


.skillSection .container-skill img{
   width: 100px;
   height: 100px; 
}